* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

body {
  font-family: Poppins, sans-serif;
}

select,
button {
  outline: none;
  border: none;
  cursor: pointer;
}

:root {
  --primary: #e2d703;
  --primary2: #171d21;
  --primary3: #2e303e;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(204, 18%, 11%, 0.8);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.btn_outline {
  font-size: 14px;
  font-weight: 700;
  border: 2px solid var(--primary);
  background-color: transparent;
  color: #fff;
  padding: 10px 35px;
  border-radius: 50px;
}

.btn_outline:hover {
  background-color: var(--primary);
  color: #000;
}

.btn_filter {
  color: #fff;
  background-color: var(--primary2);
  font-size: 12px;
  font-weight: 500;
  padding: 12px 26px;
  border-radius: 50px;
  border: 2px solid var(--primary3);
}

/* Header */
#header {
  width: 100%;
  padding: 25px 0;
  position: fixed;
  z-index: 9;
}

#header.header_active {
  background-color: var(--primary2);
  padding: 15px 0;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_navbar a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 15px;
}
.header_navbar a:is(:hover, :focus) {
  color: var(--primary);
}

.header_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header_actions_list {
  display: flex;
  gap: 10px;
}

.header_actions .divider {
  height: 20px;
  width: 3px;
  background: hsla(0, 0%, 100%, 0.1);
}

.header_actions #select_country {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.header_actions #select_country option {
  color: #000;
}

.header_actions .select_country_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.hamburger_nav {
  display: none;
  cursor: pointer;
}

.header_navbar_mobile {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--primary2);
  height: 100%;
  min-width: 300px;
}

.header_navbar_mobile_top {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  justify-content: space-between;
}

.header_navbar_mobile_content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.header_navbar_mobile_content a {
  padding: 10px 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.header_navbar_mobile_content a:hover {
  color: var(--primary);
}

.close_navbar_mobile {
  cursor: pointer;
}

.header_navbar_mobile_content a {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.header_navbar_mobile_content a:first-child {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
}

/* Badge */
.badge_fill {
  color: var(--primary2);
  background-color: #fff;
  padding: 2px 10px;
  font-size: 11px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge_outline {
  border: 3px solid #fff;
  color: #fff;
  padding: 2px 10px;
  background-color: transparent;
  font-size: 11px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar_des {
  display: flex;
  align-items: center;
  gap: 10px;
}

.time_des {
  display: flex;
  align-items: center;
  gap: 10px;
}

.time_des p,
.calendar_des p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

/* Movie Item */
.movie_item {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 265px;
  gap: 10px;
}

.movie_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}
.movie_item img:hover {
  transform: scale(1.05);
}

.movie_title_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie_title_wrapper .movie_title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.movie_title_wrapper .movie_time {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary);
}

.movie_meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie_meta_right {
  gap: 15px;
}

.movie_meta_right,
.movie_meta_duration,
.movie_meta_rate {
  display: flex;
  align-items: center;
  gap: 5px;
}

.movie_meta_rate p,
.movie_meta_duration p {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

/* Footer */
.footer_top {
  background: url(../images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.footer_top .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer_top_brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_top_quicklink a,
.footer_top_brand_link a {
  color: #cecaca;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 15px;
}

.footer_top_quicklink a:hover,
.footer_top_brand_link a:hover {
  color: var(--primary);
}

.footer_top .divider {
  height: 4px;
  margin-block: 40px;
  border-top: 1px solid var(--rich-black-fogra-29);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.footer_bottom {
  padding: 15px 0;
  background-color: var(--primary2);
}

.footer_bottom_left p {
  color: #fff;
}

.footer_bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 980px;
  }

  .header_navbar {
    display: none;
  }

  .hamburger_nav {
    display: block;
  }

  .header_navbar_mobile.active {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 740px) {
  .container {
    max-width: 720px;
  }

  .header_actions {
    gap: 10px;
  }

  .header_actions_list {
    display: none;
  }
}
