.movie-detail .container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.detail-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #f8f800;
}

.detail-title {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 78px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.storyline {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.movie-detail-banner {
  max-width: 300px;
}

.movie-detail-banner img {
  height: 100%;
  width: 100%;
}

.movie-detail {
  background: url(../images/movie-detail-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 160px 0;
}

.details-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 40px;
  max-width: 460px;
  background: #242c38;
  padding: 25px;
  border: 1px solid var(--jet);
  border-radius: 4px;
  margin-top: 40px;
}

.hero_des {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  align-items: center;
}

.hero_des a {
  color: #fff;
}

.hero_des a:is(:hover, :focus) {
  color: var(--primary);
}

.section_series {
  background: url(../images/tv-series-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.section_series .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.series_subtitle,
.top_subtitle {
  color: var(--primary);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.series_title,
.top_title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.series_content,
.top_content {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.section_comment {
  background-color: var(--primary2);
  padding: 60px 0;
}

.section_comment .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-title {
  color: #fff;
}

.comment_input {
  outline: none;
  border: none;
  background-color: #1d1d21;
  height: 50px;
  padding: 40px 20px;
  border-radius: 50px;
  font-size: 24px;
  color: white;
}

.list-comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-comment {
  display: flex;
  gap: 20px;
}

.item-comment img {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
}

.people-comment {
  color: #fff;
  background-color: #1d1d21;
  padding: 20px;
  border-radius: 20px;
}

.share p {
  color: #fff;
}

.title-wrapper .title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.title-wrapper .text {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .movie-detail .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 740px) {
  .detail-subtitle {
    font-size: 20px;
  }

  .detail-title {
    font-size: 36px;
  }

  .hero_des a {
    font-size: 14px;
  }
}
